.about-me {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

.intro {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
    max-width: 1200px;
    color: black;
    background-color: #ebf1fb;
    padding: 1rem;
}